<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <form class="">
                <div class="form-group">
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Adobo</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Afritada</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Bopis</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">KBL</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Mechado</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Estofado</button>
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Crispy Pata</button>
                    
                    <button class="btn btn-dark mr-2" style="width:100px; height:100px;">Linasing Na Hipon</button>
                    <button class="btn btn-dark mt-2 mr-2" style="width:100px; height:100px;">Daing</button>
                    <button class="btn btn-dark mt-2 mr-2" style="width:100px; height:100px;">Relleno</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">ITEM</th>
                                <th scope="col">QTY</th>
                                <th scope="col">SUBTOTAL</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>No Selected</td>
                                <td>0</td>
                                <td>Php 0</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr>
                          <button class="btn btn-light form-control">CLEARLIST</button>
                          <hr>
                          <label for="subtotal">TOTAL :</label>
                          <span class="" style="margin-left: 227px;">0</span>
                          <hr>
                          
                        <button type="submit" class="btn btn-success form-control">CHECKOUT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
