<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <form class="">
                <div class="form-group">
                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;"
                        data-toggle="modal" data-target="#exampleModal">
                        Affogato
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Affogato</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$4.75" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal2">Americano</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Americano</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$2.65" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal3">Caffe Latte</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel3" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel3">Caffe Latte</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$2.95" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal4">Caffe Mocha</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel4" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel4">Caffe Mocha</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$3.45" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal5">Cafe Au Lait</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel5" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel5">Cafe Au Lait</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$4.95" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal6">Cappuccino</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel6" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel6">Cappuccino</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$3.45" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mr-2 text-center" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal7">Espresso</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel7" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel7">Cafe Espresso</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$3.75" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-dark mt-2 mr-2" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal8">Frappe</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel8" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel8">Frappe</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$3.95" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mt-2 mr-2" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal9">Freakshake</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel9" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel9">Freakshake</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$8.90" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark mt-2 mr-2" style="width:100px; height:100px;" data-toggle="modal" data-target="#exampleModal10">Flat White</button>
                    <!-- modal -->
                    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel10" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel10">Flat White</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                                <div class="modal-body form-group">
                                    <label for="input">Price</label>
                                    <input value="$4.45" type="text" class="form-control" disabled>
                                    <label for="input">Quantity</label>
                                    <input type="text" placeholder="Please input item quantity" class="form-control">

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">ITEM</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">SUBTOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>No Selected</td>
                                    <td>0</td>
                                    <td>$ 0</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <button class="btn btn-outline-secondary form-control">CLEARLIST</button>
                        <hr>
                        <label for="subtotal">TOTAL :</label>
                        <span class="" style="margin-left: 260px;">0</span>
                        <hr>
                        <button type="submit" class="btn btn-success form-control">CHECKOUT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>